body {
    background-color: rgb(92, 159, 218);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    width: 500px;
     background-color: white;
     border-radius: 10px;
     padding: 15px;
     margin: auto;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    
}

div img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}