body {
    text-align: center;
    background-color: rgb(145, 145, 201);
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 40px;
}

section {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
    width: 500px;
    margin: auto;
}

footer {
    color: white;
}
